body
{
    background-color: #ccc;
    margin: 0px;
    padding: 0px;
}

.container
{
    background-color: #ddd;
    width: 280px;
    height: 350px;
    margin: 0 auto;
    padding: 15px;
}
#calc
{
}
input[type=text]
{
    float: right;
    width: 290px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-align: right;
}
#frm
{
    background-color: #ccc;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
button
{
    width: 60px;
    border-radius: 50%;
    padding: 16px;
    font-size: 18px;
    margin:3px;
    border: none;
    color:blue;
}
button:hover
{
   cursor: pointer;
   background-color: blue;
   color: #fff;
   transition-delay: 0.1s
}
#equal{
    
background-Color:blue;
width:125px;
border-Radius:15px;
color:#fff;
}
.pressed
{
    cursor: pointer;
    background-color: blue;
    color: #fff;
    transition-delay: 0.1s
}